<div class="pagination d-flex justify-content-between align-items-center">
	<div class="show-section d-flex justify-content-start align-items-center">
		<span>Show</span>
		<pion-dropdown class="no-top-pad no-box-shadow" [items]="offsetCounts" [selectedItem]="selectedOffset"
			(itemChanged)="showPageOffset($event)">
		</pion-dropdown>
		<span>of {{totalCount}} roles</span>
	</div>
	<div class="page-section d-flex justify-content-end align-items-center">
		<span>Page</span>
		<pion-dropdown class="no-top-pad no-box-shadow" [items]="pageCounts" [selectedItem]="selectedPage"
			(itemChanged)="showPageNumber($event)"></pion-dropdown>
		<span>of {{totalPages}}</span>
		<div class="btn btn-icon btn-no-color btn-border" (click)="prev()">
			<i class="fas fa-chevron-left"></i>
		</div>
		<div class="btn btn-icon btn-no-color btn-border" (click)="next()">
			<i class="fas fa-chevron-right"></i>
		</div>
	</div>
</div>